* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Turret Road", cursive;
    font-weight: "regular";
}
.logo-brain {
    max-width: 35%;
}
.btn-brain {
    color: #fff;
    background-color: #3955fb;
    border-color: #3955fb;
}
.btn-brain:hover {
    color: #3955fb;
    border-color: #3955fb;
    background-color: #fff;
}
.social-icon {
    max-width: 7%;
}
.button-chat {
    position: fixed;
    bottom: 10%;
    right: 5%;
}
.brain-form {
    max-width: 500px;
}
.brain-form__register {
    max-width: 700px;
}